ul.refiner {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.refiner li {
  display: block;
  position: relative;
  width: 270px;
  padding: 4px;
  border: 1px solid #f5f5f5;
}

ul.refiner a.select {
  display: block;
  border-right: 1px solid #f5f5f5;
  margin-right: 30px;
}
ul.refiner a.refine {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 9px;
  margin: 4px;
  padding: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;

  border-left: 9px solid black;
  text-indent: -99999px;
}

#topbar {
  position: fixed;
  width: 100%;
  height: 30px;
  top: 0;
  z-index: 20;
  padding: 3px;
  background-color: black;
}


#toolbar {
  position: relative;
  height: 48px;
  width: 100%;
}
#toolbar .prev, #toolbar .next {
  display: block;
  position: absolute;
  width: 36px;
  height: 48px;
  top: 0;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#toolbar .prev {
  border-right: 1px solid gray;
  left: 0;
}
#toolbar .next {
  border-left: 1px solid gray;
  right: 0;
}
#toolbar .date {
  margin: 0 38px;
  padding: 4px;
  font-size: 18px;
  line-height: 18px;
}

#toolbar .statistics {
  margin: 0 38px;
  font-size: 10px;
  line-height: 10px;
  color: #ccc;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: white;
}


#toolbar {
  background-color: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}
#toolbar h3 {
  color: white;
}

#toolbar .btn {
  margin: 3px;
}

#pages {
  width: 100%;
  position: absolute;
  top: 36px;
  background-color: white;
}
#pages .page {
  width: 100%;
  position: absolute;
  top: 0px;
}

#blocks {
}

#blocks .blocks {
}

#blocks .blocks .block {
  border-bottom: 1px solid #DDD;
  background-color: white;
  position: relative;
}

#blocks .block .unrecorded {
  background-color: #fed;
}

#blocks .block>div {
  padding: 6px 0;
}

#blocks .block>div>a {
  display: block;
  padding: 4px 0;
}


#blocks .block .range {
  color: gray;
  float: right;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
}
#blocks .block .duration {
  color: gray;
  font-size: 18px;
  float: left;
  width: 48px;
}
#blocks .block .title {
  font-size: 18px;
  line-height: 18px;
}
#blocks .block .description {
  margin-left: 48px;
  color: #333;
}